@media(max-width:421px) {
	.menu-branding .portrait {
		width: 9.7rem;
		height: 9.7rem;
	}

	.menu .nav-link {
		font-size: 1.3rem;
	}
}


@media(max-width:372px) {
	.principal__projetos {
		height: 271vh;
	}
}